.eclip {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.m-auto {
  margin: 0 auto; }

header {
  width: 910px;
  color: #fff;
  text-align: center;
  background: url("../img/nav-bg.png") no-repeat;
  height: 100px; }
  header ul li {
    display: inline-block;
    margin: -6px 6px; }
    header ul li a {
      margin-top: 20px;
      display: inline-block;
      width: 100px;
      text-decoration: none;
      color: #fff; }
      header ul li a:hover {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3); }
    header ul li span {
      display: inline-block;
      width: 162px;
      height: 64px;
      background: url("../img/logo.png") no-repeat; }
  header p {
    color: #976392;
    margin-top: 5px; }
    header p span {
      display: inline-block;
      background: #2c083e;
      border: 1px #621568 solid;
      width: 50px;
      margin: 0 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
      header p span:hover {
        background: #b98fa4; }
      header p span a {
        color: #976392;
        text-decoration: none;
        font-size: 12px; }

footer {
  opacity: 0;
  width: 910px;
  font-size: 14px !important;
  text-align: center;
  color: #fff; }
  footer.active {
    opacity: 1; }
  footer ul {
    margin-top: 20px; }
    footer ul li {
      display: inline-block;
      margin: 20px 6px; }
      footer ul li a {
        text-decoration: none;
        color: #fff; }
      footer ul li:hover {
        -webkit-transform: translateY(-6px) scale(1.2);
        -moz-transform: translateY(-6px) scale(1.2);
        -ms-transform: translateY(-6px) scale(1.2);
        -o-transform: translateY(-6px) scale(1.2);
        transform: translateY(-6px) scale(1.2); }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body.index_bg {
  background: #3c0a2f url("../img/bg.jpg") no-repeat center top; }
  body.index_bg .i-content {
    position: relative;
    height: 525px;
    width: 910px; }
    body.index_bg .i-content .leftNav {
      width: 132px;
      position: absolute;
      top: -200px;
      left: 34px;
      z-index: 3;
      opacity: 0;
      -webkit-transition: all 1s linear 0.5s;
      -moz-transition: all 1s linear 0.5s;
      -ms-transition: all 1s linear 0.5s;
      -o-transition: all 1s linear 0.5s;
      transition: all 1s linear 0.5s; }
      body.index_bg .i-content .leftNav.active {
        opacity: 1;
        top: 203px; }
      body.index_bg .i-content .leftNav ul {
        margin-bottom: 34px; }
        body.index_bg .i-content .leftNav ul li {
          border: 1px solid #c25896;
          margin: 5px 0;
          font-size: 12px; }
        body.index_bg .i-content .leftNav ul a {
          text-decoration: none;
          display: block;
          background: #c25896 url("../img/ioc-right.png") no-repeat 92% 50%;
          color: #fff;
          height: 20px;
          line-height: 20px;
          text-shadow: -2px 3px 3px #000;
          border: 1px solid transparent;
          text-indent: 10px; }
          body.index_bg .i-content .leftNav ul a:hover {
            background-color: #480c45;
            color: #d889d5; }
      body.index_bg .i-content .leftNav .hot-line {
        height: 50px;
        background: url("../img/server.png") no-repeat;
        cursor: pointer; }
    body.index_bg .i-content .loading {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 12;
      height: 44px;
      width: 44px;
      color: #330137;
      text-align: center; }
      body.index_bg .i-content .loading em {
        -webkit-transition: all 0.8s ease-in-out 0s;
        -moz-transition: all 0.8s ease-in-out 0s;
        -ms-transition: all 0.8s ease-in-out 0s;
        -o-transition: all 0.8s ease-in-out 0s;
        transition: all 0.8s ease-in-out 0s; }
      body.index_bg .i-content .loading span {
        position: absolute;
        width: 120px;
        text-align: center;
        left: 0;
        top: 0; }
      body.index_bg .i-content .loading em:last-of-type {
        display: inline-block;
        width: 0;
        height: 25px;
        background: url("../img/loadding.png") no-repeat; }
      body.index_bg .i-content .loading.active em {
        width: 40px; }
    body.index_bg .i-content .text {
      position: absolute;
      left: 625px;
      top: 118px;
      width: 267px;
      z-index: 4; }
      body.index_bg .i-content .text .en, body.index_bg .i-content .text .cn {
        display: block;
        height: 20px;
        margin-bottom: 5px;
        opacity: 0;
        -webkit-transform: translateX(-30px);
        -moz-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
        -o-transform: translateX(-30px);
        transform: translateX(-30px);
        -webkit-transition: all 0.8s ease-in-out 3s;
        -moz-transition: all 0.8s ease-in-out 3s;
        -ms-transition: all 0.8s ease-in-out 3s;
        -o-transition: all 0.8s ease-in-out 3s;
        transition: all 0.8s ease-in-out 3s; }
      body.index_bg .i-content .text .cn {
        height: 32px;
        -webkit-transform: translateX(30px);
        -moz-transform: translateX(30px);
        -ms-transform: translateX(30px);
        -o-transform: translateX(30px);
        transform: translateX(30px); }
      body.index_bg .i-content .text.active em {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); }
      body.index_bg .i-content .text.active .en {
        height: 44px;
        background: url("../img/text-en.png") no-repeat; }
      body.index_bg .i-content .text.active .cn {
        background: url("../img/text-cn.png") no-repeat; }
    body.index_bg .i-content .animate-wrapper {
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%; }
      body.index_bg .i-content .animate-wrapper .step1, body.index_bg .i-content .animate-wrapper .step2 {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        filter: alpha(opacity=0); }
      body.index_bg .i-content .animate-wrapper .step1 {
        z-index: 2;
        background: url("../img/flag-bg.jpg") no-repeat center center; }
      body.index_bg .i-content .animate-wrapper .step2 {
        z-index: 2;
        background: url("../img/step2-bg.jpg") no-repeat center center; }
    body.index_bg .i-content .text1, body.index_bg .i-content .text4, body.index_bg .i-content .text6 {
      position: absolute;
      left: 150px;
      top: 150px;
      opacity: 0;
      filter: alpha(opacity=0);
      width: 125px;
      height: 44px;
      -webkit-transform-origin: bottom;
      -moz-transform-origin: bottom;
      -ms-transform-origin: bottom;
      -o-transform-origin: bottom;
      transform-origin: bottom;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.5s ease-in-out 0s;
      -moz-transition: all 0.5s ease-in-out 0s;
      -ms-transition: all 0.5s ease-in-out 0s;
      -o-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s;
      background: url("../img/text-our.png") no-repeat 0 -47px; }
      body.index_bg .i-content .text1.active, body.index_bg .i-content .text4.active, body.index_bg .i-content .text6.active {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        filter: alpha(opacity=100); }
    body.index_bg .i-content .text4 {
      left: 203px;
      top: 420px;
      background: url("../img/text-our.png") no-repeat 0 -93px; }
    body.index_bg .i-content .text6 {
      left: 605px;
      top: 190px;
      -webkit-transform-origin: left bottom;
      -moz-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
      -o-transform-origin: left bottom;
      transform-origin: left bottom;
      background: url("../img/text-our.png") no-repeat; }
    body.index_bg .i-content .cube-box {
      opacity: 0;
      position: absolute;
      left: 325px;
      top: 158px;
      z-index: 11;
      width: 260px;
      height: 260px;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d;
      perspective: 800px;
      -webkit-transition: all 1s ease-in-out 0s;
      -moz-transition: all 1s ease-in-out 0s;
      -ms-transition: all 1s ease-in-out 0s;
      -o-transition: all 1s ease-in-out 0s;
      transition: all 1s ease-in-out 0s;
      -webkit-transform-origin: center center -100px;
      -moz-transform-origin: center center -100px;
      -ms-transform-origin: center center -100px;
      -o-transform-origin: center center -100px;
      transform-origin: center center -100px;
      -webkit-transform: rotateX(40deg) rotateY(-50deg) rotateZ(-8deg);
      -moz-transform: rotateX(40deg) rotateY(-50deg) rotateZ(-8deg);
      -ms-transform: rotateX(40deg) rotateY(-50deg) rotateZ(-8deg);
      -o-transform: rotateX(40deg) rotateY(-50deg) rotateZ(-8deg);
      transform: rotateX(40deg) rotateY(-50deg) rotateZ(-8deg); }
      body.index_bg .i-content .cube-box .side {
        width: 260px;
        height: 260px;
        background: url("../img/box.png") no-repeat;
        background-size: cover;
        font-size: 40px;
        position: absolute;
        left: 0;
        top: 0;
        color: #fff;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s; }
      body.index_bg .i-content .cube-box .side-1 {
        z-index: 11;
        -webkit-transform: translateZ(50px);
        -moz-transform: translateZ(50px);
        -ms-transform: translateZ(50px);
        -o-transform: translateZ(50px);
        transform: translateZ(50px); }
      body.index_bg .i-content .cube-box .side-2 {
        left: -300px;
        -webkit-transform-origin: right;
        -moz-transform-origin: right;
        -ms-transform-origin: right;
        -o-transform-origin: right;
        transform-origin: right;
        -webkit-transform: rotateY(-90deg);
        -moz-transform: rotateY(-90deg);
        -ms-transform: rotateY(-90deg);
        -o-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition-delay: 2.5s;
        -moz-transition-delay: 2.5s;
        -ms-transition-delay: 2.5s;
        -o-transition-delay: 2.5s;
        transition-delay: 2.5s; }
      body.index_bg .i-content .cube-box .side-3 {
        -webkit-transform: translateZ(-300px);
        -moz-transform: translateZ(-300px);
        -ms-transform: translateZ(-300px);
        -o-transform: translateZ(-300px);
        transform: translateZ(-300px);
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition-delay: 2.5s;
        -moz-transition-delay: 2.5s;
        -ms-transition-delay: 2.5s;
        -o-transition-delay: 2.5s;
        transition-delay: 2.5s; }
      body.index_bg .i-content .cube-box .side-4 {
        top: 300px;
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
        -o-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transition-delay: 1s;
        -moz-transition-delay: 1s;
        -ms-transition-delay: 1s;
        -o-transition-delay: 1s;
        transition-delay: 1s; }
      body.index_bg .i-content .cube-box .side-5 {
        top: -300px;
        -webkit-transform-origin: bottom;
        -moz-transform-origin: bottom;
        -ms-transform-origin: bottom;
        -o-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        -o-transform: rotateX(90deg);
        transform: rotateX(90deg);
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition-delay: 2.5s;
        -moz-transition-delay: 2.5s;
        -ms-transition-delay: 2.5s;
        -o-transition-delay: 2.5s;
        transition-delay: 2.5s; }
      body.index_bg .i-content .cube-box .side-6 {
        -webkit-transform-origin: left;
        -moz-transform-origin: left;
        -ms-transform-origin: left;
        -o-transform-origin: left;
        transform-origin: left;
        -webkit-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
        transform: rotateY(90deg);
        left: 300px;
        -webkit-transition-delay: 0.5s;
        -moz-transition-delay: 0.5s;
        -ms-transition-delay: 0.5s;
        -o-transition-delay: 0.5s;
        transition-delay: 0.5s; }
      body.index_bg .i-content .cube-box.active-end div.side {
        -webkit-transition-delay: 0s !important;
        -moz-transition-delay: 0s !important;
        -ms-transition-delay: 0s !important;
        -o-transition-delay: 0s !important;
        transition-delay: 0s !important; }
      body.index_bg .i-content .cube-box.active div.side:hover {
        background: url("../img/box-hover.png") no-repeat;
        background-size: cover; }
      body.index_bg .i-content .cube-box.active div.side:hover {
        background: url("../img/box-hover.png") no-repeat;
        background-size: cover; }
      body.index_bg .i-content .cube-box.active .side-1 {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: light 4s 4s infinite;
        -o-animation: light 4s 4s infinite;
        animation: light 4s 4s infinite; }
        body.index_bg .i-content .cube-box.active .side-1:hover {
          -webkit-transform: translateZ(20px);
          -moz-transform: translateZ(20px);
          -ms-transform: translateZ(20px);
          -o-transform: translateZ(20px);
          transform: translateZ(20px); }
      body.index_bg .i-content .cube-box.active .side-2 {
        left: -260px;
        -webkit-transform-origin: right;
        -moz-transform-origin: right;
        -ms-transform-origin: right;
        -o-transform-origin: right;
        transform-origin: right;
        -webkit-transform: rotateY(-90deg);
        -moz-transform: rotateY(-90deg);
        -ms-transform: rotateY(-90deg);
        -o-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
        opacity: 0.5;
        filter: alpha(opacity=50); }
      body.index_bg .i-content .cube-box.active .side-3 {
        -webkit-transform: translateZ(-260px);
        -moz-transform: translateZ(-260px);
        -ms-transform: translateZ(-260px);
        -o-transform: translateZ(-260px);
        transform: translateZ(-260px);
        opacity: 0.5;
        filter: alpha(opacity=50); }
      body.index_bg .i-content .cube-box.active .side-4 {
        top: 260px;
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        transform-origin: top;
        -webkit-transform: rotateX(-90deg);
        -moz-transform: rotateX(-90deg);
        -ms-transform: rotateX(-90deg);
        -o-transform: rotateX(-90deg);
        transform: rotateX(-90deg); }
        body.index_bg .i-content .cube-box.active .side-4:hover {
          top: 280px; }
      body.index_bg .i-content .cube-box.active .side-5 {
        top: -260px;
        -webkit-transform-origin: bottom;
        -moz-transform-origin: bottom;
        -ms-transform-origin: bottom;
        -o-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-transform: rotateX(90deg);
        -moz-transform: rotateX(90deg);
        -ms-transform: rotateX(90deg);
        -o-transform: rotateX(90deg);
        transform: rotateX(90deg);
        opacity: 0.5;
        filter: alpha(opacity=50); }
      body.index_bg .i-content .cube-box.active .side-6 {
        left: 260px;
        -webkit-transform-origin: left;
        -moz-transform-origin: left;
        -ms-transform-origin: left;
        -o-transform-origin: left;
        transform-origin: left;
        -webkit-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
        transform: rotateY(90deg);
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-animation: light 4s 6s infinite;
        -o-animation: light 4s 6s infinite;
        animation: light 4s 6s infinite; }
        body.index_bg .i-content .cube-box.active .side-6:hover {
          left: 280px; }

@keyframes light {
  0% {
    opacity: 0.3; }
  40% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-khtml-keyframes light {
  0% {
    opacity: 0.3; }
  40% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-moz-keyframes light {
  0% {
    opacity: 0.3; }
  40% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-ms-keyframes light {
  0% {
    opacity: 0.3; }
  40% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-o-keyframes light {
  0% {
    opacity: 0.3; }
  40% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes light {
  0% {
    opacity: 0.3; }
  40% {
    opacity: 1; }
  100% {
    opacity: 1; } }

body.list_bg {
  background: #3a082d url("../img/list-bg.jpg") no-repeat center top; }

body.page_bg {
  background: #3a082d url("../img/page-bg.jpg") no-repeat center top; }

body.server_bg {
  background: #3a082d url("../img/server-bg.jpg") no-repeat center top; }

.page_bg .i-content, .server_bg .i-content, .list_bg .i-content {
  width: 100%;
  min-width: 924px;
  min-height: 525px; }
  .page_bg .i-content .slide-wrapper .tab-title, .server_bg .i-content .slide-wrapper .tab-title, .list_bg .i-content .slide-wrapper .tab-title {
    width: 513px;
    height: 26px; }
  .page_bg .i-content .slide-wrapper .content-slide, .server_bg .i-content .slide-wrapper .content-slide, .list_bg .i-content .slide-wrapper .content-slide {
    background-color: #600043; }
  .page_bg .i-content .slide-wrapper .content-wrapper, .server_bg .i-content .slide-wrapper .content-wrapper, .list_bg .i-content .slide-wrapper .content-wrapper {
    width: 513px;
    padding: 0; }
    .page_bg .i-content .slide-wrapper .content-wrapper .pis, .server_bg .i-content .slide-wrapper .content-wrapper .pis, .list_bg .i-content .slide-wrapper .content-wrapper .pis {
      width: 489px;
      padding: 12px 12px 0; }
    .page_bg .i-content .slide-wrapper .content-wrapper .text-fc, .server_bg .i-content .slide-wrapper .content-wrapper .text-fc, .list_bg .i-content .slide-wrapper .content-wrapper .text-fc {
      min-width: 524px;
      height: 34px;
      line-height: 34px;
      text-align: center; }
      .page_bg .i-content .slide-wrapper .content-wrapper .text-fc em, .server_bg .i-content .slide-wrapper .content-wrapper .text-fc em, .list_bg .i-content .slide-wrapper .content-wrapper .text-fc em {
        display: block;
        width: 34px;
        height: 34px;
        float: left; }
      .page_bg .i-content .slide-wrapper .content-wrapper .text-fc .pre, .server_bg .i-content .slide-wrapper .content-wrapper .text-fc .pre, .list_bg .i-content .slide-wrapper .content-wrapper .text-fc .pre {
        background: url("../img/ioc-pre.jpg") no-repeat center center; }
      .page_bg .i-content .slide-wrapper .content-wrapper .text-fc .next, .server_bg .i-content .slide-wrapper .content-wrapper .text-fc .next, .list_bg .i-content .slide-wrapper .content-wrapper .text-fc .next {
        background: url("../img/ioc-next.jpg") no-repeat center center; }
      .page_bg .i-content .slide-wrapper .content-wrapper .text-fc .text, .server_bg .i-content .slide-wrapper .content-wrapper .text-fc .text, .list_bg .i-content .slide-wrapper .content-wrapper .text-fc .text {
        display: block;
        width: 442px;
        height: 34px;
        float: left; }

.i-nav {
  width: 200px;
  padding-top: 80px;
  float: left; }
  .i-nav a {
    color: #fff; }
  .i-nav .title {
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 10px;
    text-align: center; }
  .i-nav ul {
    margin: 0 auto;
    width: 80px;
    padding: 30px 20px;
    background-color: #4f0c42; }
    .i-nav ul li a {
      text-decoration: none;
      height: 24px;
      line-height: 24px;
      background-color: #57084a;
      margin: 5px 0;
      display: block;
      box-shadow: 3px 3px 20px #220021;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      text-align: center; }
    .i-nav ul li a:hover {
      background-color: #fcfcfc;
      color: #000;
      opacity: 0.8;
      filter: alpha(opacity=80); }
  .i-nav .hot-line {
    margin: 20px auto;
    background: url("../img/server.png") no-repeat;
    cursor: pointer;
    height: 50px;
    width: 130px; }
  .i-nav .blog {
    width: 128px;
    height: 128px;
    margin: 20px auto;
    background: url("../img/blog.jpg") no-repeat; }
  .i-nav .wx {
    width: 128px;
    height: 128px;
    margin: 20px auto;
    background: url("../img/wx.jpg") no-repeat; }
  .i-nav p {
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-top: 12px; }
  .i-nav.pl {
    padding-left: 200px; }

.main-wrapper {
  width: 535px;
  padding-top: 80px;
  color: #fff; }
  .main-wrapper a {
    color: #fff; }
  .main-wrapper a:hover {
    color: #945e8f; }
  .main-wrapper .tab-title {
    height: 52px;
    line-height: 32px;
    text-indent: 32px;
    font-size: 14px;
    background: url("../img/content-tab-bg.png") no-repeat; }
  .main-wrapper .list-img-txt {
    padding-bottom: 10px;
    margin: 15px 5px;
    height: 76px;
    border-bottom: 1px solid #793460; }
    .main-wrapper .list-img-txt dt {
      float: left; }
    .main-wrapper .list-img-txt dd {
      padding-top: 10px;
      width: 320px;
      padding-left: 100px;
      margin-left: 30px; }
      .main-wrapper .list-img-txt dd a {
        text-decoration: none;
        font-size: 12px; }
  .main-wrapper .list-news {
    padding: 10px 0;
    font-size: 14px; }
    .main-wrapper .list-news li {
      height: 28px;
      line-height: 28px; }
      .main-wrapper .list-news li a {
        text-decoration: none;
        display: block;
        width: 410px;
        float: left;
        padding-left: 20px;
        background: url("../img/ioc-list.png") no-repeat; }
      .main-wrapper .list-news li a:hover {
        background-position: 0 -30px; }
      .main-wrapper .list-news li span {
        display: block;
        width: 68px;
        float: left;
        overflow: hidden; }
  .main-wrapper .w600 {
    width: 600px; }
  .main-wrapper .btn-close, .main-wrapper .btn-apply {
    width: 80px;
    height: 24px;
    color: #945e8f;
    background: #2d043e;
    font-size: 12px;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #945e8f; }
  .main-wrapper .btn-close:hover, .main-wrapper .btn-apply:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); }
  .main-wrapper .btn-back {
    float: right;
    margin-top: -24px;
    margin-right: 20px;
    width: 40px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    background: #651556;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
    .main-wrapper .btn-back a {
      text-decoration: none;
      cursor: pointer;
      font-size: 12px; }

.right-ad-side {
  position: absolute;
  top: 250px;
  left: 1000px; }
  .right-ad-side .f1 {
    float: left; }
  .right-ad-side .ad-1 {
    background: url("../img/ad-bg.jpg") no-repeat;
    height: 108px;
    padding-top: 60px;
    overflow: hidden; }
    .right-ad-side .ad-1 .img {
      height: 91px;
      width: 56px;
      padding: 0 5px; }
    .right-ad-side .ad-1 .text {
      height: 91px;
      width: 78px;
      padding: 0 5px;
      color: #dfa8c8; }
      .right-ad-side .ad-1 .text .title {
        font-size: 14px;
        padding-bottom: 10px; }
      .right-ad-side .ad-1 .text .desc {
        font-size: 12px;
        line-height: 16px;
        color: #fff; }
      .right-ad-side .ad-1 .text .btn a {
        display: inline-block;
        width: 52px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: #dfa8c8;
        background: #580241;
        font-size: 12px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; }
      .right-ad-side .ad-1 .text .btn a:hover {
        opacity: 0.8;
        filter: alpha(opacity=80); }
  .right-ad-side .pt270 {
    padding-top: 270px; }

.ptb {
  padding: 20px 0; }

.page {
  text-align: center;
  line-height: 16px;
  color: #fff;
  overflow: hidden; }
  .page span {
    display: inline-block;
    margin: 0 5px;
    font-size: 12px; }
  .page a {
    text-decoration: none;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    font-size: 14px; }
    .page a.cur {
      border: 1px solid #945e8f;
      background-color: #640e69; }
  .page input {
    display: inline-block;
    width: 50px;
    height: 16px;
    border: 1px solid #945e8f;
    color: #fff;
    background-color: transparent;
    margin-left: 10px;
    padding: 0 5px; }
  .page button {
    border: none;
    width: 22px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background: #945e8f;
    font-size: 12px;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
  .page button:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); }

.job-table {
  margin-top: 20px; }
  .job-table h3 {
    text-align: center;
    margin-bottom: 30px; }
  .job-table table {
    width: 524px;
    border: 1px solid #945e8f; }
  .job-table td {
    vertical-align: middle;
    font-size: 13px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #945e8f;
    min-width: 28px;
    padding: 0 5px;
    border-collapse: collapse; }
    .job-table td h6 {
      text-align: center;
      height: 32px;
      line-height: 32px; }
    .job-table td .input-text {
      border: none;
      padding: 5px;
      height: 14px; }
      .job-table td .input-text.w320 {
        width: 320px; }
      .job-table td .input-text.w450 {
        width: 450px; }
      .job-table td .input-text.w55 {
        width: 55px; }
    .job-table td .input-4 input {
      width: 60px; }
    .job-table td .text-area {
      width: 470px;
      margin-top: 5px; }

.server_bg .main-wrapper {
  padding-top: 170px;
  float: none;
  width: 692px;
  margin: 0 auto; }
  .server_bg .main-wrapper .tab-title {
    background: url("../img/nav_02.jpg") no-repeat;
    height: 26px; }
  .server_bg .main-wrapper .content-wrapper {
    background-color: #600043;
    padding: 25px 50px;
    border: 5px solid #450838; }
  .server_bg .main-wrapper .server-nav-box {
    width: 710px;
    height: 300px;
    margin: 0 auto;
    background: url("../img/server-animate-bg.jpg") no-repeat; }
    .server_bg .main-wrapper .server-nav-box a {
      text-decoration: none;
      display: block;
      width: 84px;
      height: 32px;
      margin: 2px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition: all 1s ease-in-out 0s;
      -moz-transition: all 1s ease-in-out 0s;
      -ms-transition: all 1s ease-in-out 0s;
      -o-transition: all 1s ease-in-out 0s;
      transition: all 1s ease-in-out 0s;
      background: url("../img/server-box-bg.png") no-repeat -87px;
      box-shadow: 3px 3px 3px #1f071f;
      text-align: center;
      padding: 10px 0;
      line-height: 16px;
      color: #fff;
      opacity: 1;
      float: left; }
    .server_bg .main-wrapper .server-nav-box a:hover {
      opacity: 0.7; }
    .server_bg .main-wrapper .server-nav-box a.active {
      opacity: 0; }
    .server_bg .main-wrapper .server-nav-box a.opa {
      background-position: 0 0; }
    .server_bg .main-wrapper .server-nav-box .pl1 {
      padding-left: 88px; }
    .server_bg .main-wrapper .server-nav-box .pl2 {
      padding-left: 176px; }
    .server_bg .main-wrapper .server-nav-box .pl3 {
      padding-left: 264px; }
    .server_bg .main-wrapper .server-nav-box .pl4 {
      padding-left: 352px; }
    .server_bg .main-wrapper .server-nav-box .fc {
      clear: both; }

.tab-wrapper .tab-top {
  background: url("../img/tab-top-bg.png") no-repeat;
  height: 45px;
  padding-top: 7px;
  padding-left: 10px; }
  .tab-wrapper .tab-top li {
    width: 120px;
    height: 22px;
    line-height: 22px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 14px; }
  .tab-wrapper .tab-top .cur {
    background: #510f48;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }

.tab-wrapper .tab-content {
  line-height: 24px; }
  .tab-wrapper .tab-content .item p {
    margin-top: 20px;
    font-size: 14px; }
  .tab-wrapper .tab-content .item a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #986591;
    margin: 20px 200px;
    background: #2c083e;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px; }
  .tab-wrapper .tab-content .item .success-text {
    height: 300px;
    line-height: 300px; }
    .tab-wrapper .tab-content .item .success-text p {
      text-align: center;
      font-size: 50px; }
  .tab-wrapper .tab-content .item.show {
    display: block; }
  .tab-wrapper .tab-content .item.hide {
    display: none; }
  .tab-wrapper .tab-content .form-btn {
    text-align: center; }
    .tab-wrapper .tab-content .form-btn a, .tab-wrapper .tab-content .form-btn button {
      color: #fff;
      font-size: 16px;
      vertical-align: middle;
      display: inline-block;
      text-decoration: none;
      border: 1px solid #986591;
      margin: 20px 20px;
      background: #2c083e;
      width: 80px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px; }
    .tab-wrapper .tab-content .form-btn button {
      line-height: 25px;
      font-size: 15px; }
  .tab-wrapper .tab-content .table {
    width: 524px;
    font-size: 14px;
    margin-top: 20px; }
    .tab-wrapper .tab-content .table tr {
      height: 30px;
      line-height: 30px; }
    .tab-wrapper .tab-content .table tr:first-of-type {
      background: #340c2b; }
    .tab-wrapper .tab-content .table a {
      text-decoration: none; }
